<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="angel_core" id="angel_core">
			<module before="Magento_Backend" name="Angel_Core"/>
		</route>
	</router>
</config>
